.main-right-side {
   padding-left: 0.5rem;
}
.main-right-side .platform {
   margin: 20px 0;
}
.main-right-side .platform p {
   opacity: 0.5;
}
.main-right-side .platform p > span {
   padding-left: 15px;
}

.meetings {
}

.meetings-item {
   display: flex;
   align-items: center;
}

.icon-background {
   background-color: #eceef5;
   padding: 1rem;
   border-radius: 50%;
   margin: 1rem;
}

.meeting-details {
}

.video-icon {
   margin-right: 1rem;
}

.time-icon {
   margin-right: 0.5rem;
}
.time-container {
   margin: 1rem;
}

@media (max-width: 800px) {
   .main-right-side {
      padding-left: 0.5rem;
   }
   .meetings {
      margin-top: 3rem;
   }
   .main-right-side {
      margin-top: 3rem;
   }
}
