.sidebar {
   height: auto;
   /* border-right: 1px solid rgb(239, 239, 239); */
   padding-right: 1rem;
   padding-left: 1rem;
   background-color: aqua;
}

.logo {
   height: 32px;
   margin-left: 1rem;
}

@media (min-width: 992px) {
   .logo {
      height: 32px;
      margin-top: 1.5rem;
      margin-bottom: 1.7rem;
   }
}
