/* .main-body {
   background-color: #f72a2a !important;
   height: 100vh;
   width: 100%;
} */

.transaction-main {
   padding: 2rem;
}

.transaction-month {
   display: flex;
   justify-content: space-between;
}
.transaction-month h2 {
   font-weight: 500;
   font-size: 2rem;
}
.calendar-button {
   width: 100px;
   height: 50px;
   background-color: white;
   color: black;
   border: 1px solid black;
   border-radius: 5px;
   font-size: 16px;
   cursor: pointer;
}

.table-main {
   margin-top: 2rem;
}

.transaction-drops {
   display: flex;
}
.select-recipient {
   align-items: center;
   border-radius: 0.4rem;
   padding: 0.5rem 1.5rem 0.5rem 1.5rem;
   background-color: #f3f4f8;
   margin-right: 1rem;
}
.select-amount {
   align-items: center;
   border-radius: 0.4rem;
   padding: 0.5rem 1.5rem 0.5rem 1.5rem;
   background-color: #f3f4f8;
   margin-right: 1rem;
}
.select-status {
   align-items: center;
   border-radius: 0.4rem;
   padding: 0.5rem 1.5rem 0.5rem 1.5rem;
   background-color: #f3f4f8;
   margin-right: 1rem;
}

@media (max-width: 800px) {
   .transaction-main {
      padding: 0.5rem;
   }
   .ant-card div {
      width: auto;
   }
   .table-main {
      margin-top: 0.5rem;
   }
   .transaction-drops {
      flex-direction: column;
   }
   .select-recipient,
   .select-amount,
   .select-status {
      margin-top: 0.3rem;
      margin-bottom: 0.3rem;
      text-align: center;
   }
}
